[submodule "themes/parsa-hugo"]
	path = themes/parsa-hugo
	url = https://github.com/themefisher/parsa-hugo
[submodule "parsa-hugo"]
	path = parsa-hugo
	url = https://github.com/themefisher/parsa-hugo
