<!-- This goes before </head> closing tag, Google Analytics can be placed here --> 

<!-- https://mundana.pages.dev -->
<meta name="google-site-verification" content="X6soo-fOQezWIvt9JuCFjdzYkqvLJBKu-nKJYdu_Lu0" />

<!-- https://pood.netlify.app -->
<meta name="google-site-verification" content="_Uq1WBGz9RflCvfB6owzZiEm3oTSkFkMaHXI1EwbuTg" />

<!-- https://sulus.vercel.app -->
<meta name="google-site-verification" content="B_FL6C9KYWii3M0572ruzpJtsxZ7VXwq9ivSBv_rs-k" />

<!-- https://unsightly-ocean.cloudvent.net -->
<meta name="google-site-verification" content="_2nZDrF_OU4h4iDmjPDaCfULYooE7BkBRZNb-zeZhoI" />

<!-- https://waiti.surge.sh -->
<meta name="google-site-verification" content="o5ZvaY3-na5qtlHqesi0_gUg4hrZ7Drgb4IueLFcdiA" />

<!-- https://seobecak.bitbucket.io -->
<meta name="google-site-verification" content="ZvpRH0A9MCkA7N65K8IpsyfuqjOBG1A_hNbWQqgop_I" />

<!-- https://seobecak.codeberg.page -->
<meta name="google-site-verification" content="17zCpWtObmEnwyLL2pgP6MllkF9p-diRBtpZxASvjDA" />